extends ../base

block content
    div.locker__relative
        p.locker__title1= "Q" 
        p.locker__notice4= question.content 

    if String(question.owner.id) === String(loggedInUser._id)
        div.bnt__postQ
            a(href=`${question.id}/editq`)
                span 수정하기
            a(href=`${question.id}/delete`)
                span 삭제하기

    div#questionContainer(data-id=question._id)
        if loggedIn
            form.question__comment-form#commentForm
                textarea(cols="50", rows="4", placeholder="댓글 작성하기,,,")
                button 댓글 달기
                
        div.question_garden_grid
            each comment in question.comments
                i.question_garden_comment(data-id=comment.id)
                    i.fas.fa-comment
                    if String(comment.owner) === String(loggedInUser._id)
                        span  #{comment.text} 
                        button.delete_comment ❌
                    else
                        span  #{comment.text}

    div.arrow-switch
        a(href="/qna") 뒤로가기 &larr;