a(href="#A33" name="A").ASlocker__absolute.Alocker
    span= Object.values(lockers[0].lockerNum)

a(href="#B33" name="B").ASlocker__absolute.Blocker
    span= Object.values(lockers[10].lockerNum)

a(href="#C33" name="C").ASlocker__absolute.Clocker
    span= Object.values(lockers[20].lockerNum)

a(href="#B33" name="B").ASlocker__absolute.Dlocker
    span= Object.values(lockers[10].lockerNum)

a(href="#C33" name="C").ASlocker__absolute.Elocker
    span= Object.values(lockers[20].lockerNum)

a(href="#B33" name="B").ASlocker__absolute.Flocker
    span= Object.values(lockers[10].lockerNum)

a(href="#C33" name="C").ASlocker__absolute.Glocker
    span= Object.values(lockers[20].lockerNum)