a(href="#A33" name="A").ASlocker__absolute.Alocker
    span= Object.values(lockers[0].lockerNum.substr(0, 1))

a(href="#B33" name="B").ASlocker__absolute.Blocker
    span= Object.values(lockers[10].lockerNum)

a(href="#C33" name="C").ASlocker__absolute.Clocker
    span= Object.values(lockers[20].lockerNum)

a(href="#D33" name="D").ASlocker__absolute.Dlocker
    span= Object.values(lockers[30].lockerNum)

a(href="#E33" name="E").ASlocker__absolute.Elocker
    span= Object.values(lockers[40].lockerNum)

a(href="#F33" name="F").ASlocker__absolute.Flocker
    span= Object.values(lockers[50].lockerNum)

a(href="#G33" name="G").ASlocker__absolute.Glocker
    span= Object.values(lockers[60].lockerNum)

a(href="#H33" name="H").ASlocker__absolute.Hlocker
    span= Object.values(lockers[70].lockerNum)

a(href="#I33" name="I").ASlocker__absolute.Ilocker
    span= Object.values(lockers[80].lockerNum)

a(href="#J33" name="J").ASlocker__absolute.Jlocker
    span= Object.values(lockers[90].lockerNum)

a(href="#K33" name="K").ASlocker__absolute.Klocker
    span= Object.values(lockers[100].lockerNum)

a(href="#L33" name="L").ASlocker__absolute.Llocker
    span= Object.values(lockers[110].lockerNum)

a(href="#M33" name="M").ASlocker__absolute.Mlocker
    span= Object.values(lockers[120].lockerNum)

a(href="#N33" name="N").ASlocker__absolute.Nlocker
    span= Object.values(lockers[130].lockerNum)

a(href="#O33" name="O").ASlocker__absolute.Olocker
    span= Object.values(lockers[140].lockerNum)

a(href="#P33" name="P").ASlocker__absolute.Plocker
    span= Object.values(lockers[150].lockerNum)

a(href="#Q33" name="Q").ASlocker__absolute.Qlocker
    span= Object.values(lockers[160].lockerNum)

a(href="#R33" name="R").ASlocker__absolute.Rlocker
    span= Object.values(lockers[170].lockerNum)

a(href="#S33" name="S").ASlocker__absolute.Slocker
    span= Object.values(lockers[180].lockerNum)