a(href="#A" name="A33").Numlocker__Alphabet
    p A
each i in [1,2,3,4,5,6,7,8,9]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#B" name="B33").Numlocker__Alphabet
    p B
each i in [11,12,13,14,15,16,17,18,19]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#C" name="C33").Numlocker__Alphabet
    p C
each i in [21,22,23,24,25,26,27,28,29]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#D" name="D33").Numlocker__Alphabet
    p D
each i in [31,32,33,34,35,36,37,38,39]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#E" name="E33").Numlocker__Alphabet
    p E
each i in [41,42,43,44,45,46,47,48,49]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#F" name="F33").Numlocker__Alphabet
    p F
each i in [51,52,53,54,55,56,57,58,59]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#G" name="G33").Numlocker__Alphabet
    p G
each i in [61,62,63,64,65,66,67,68,69]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#H" name="H33").Numlocker__Alphabet
    p H
each i in [71,72,73,74,75,76,77,78,79]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#I" name="I33").Numlocker__Alphabet
    p I
each i in [81,82,83,84,85,86,87,88,89]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#J" name="J33").Numlocker__Alphabet
    p J
each i in [91,92,93,94,95,96,97,98,99]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#K" name="K33").Numlocker__Alphabet
    p K
each i in [101,102,103,104,105,106,107,108,109]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#L" name="L33").Numlocker__Alphabet
    p L
each i in [111,112,113,114,115,116,117,118,119]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#M" name="M33").Numlocker__Alphabet
    p M
each i in [121,122,123,124,125,126,127,128,129]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#N" name="N33").Numlocker__Alphabet
    p N
each i in [131,132,133,134,135,136,137,138,139]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#O" name="O33").Numlocker__Alphabet
    p O
each i in [141,142,143,144,145,146,147,148,149]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#P" name="P33").Numlocker__Alphabet
    p P
each i in [151,152,153,154,155,156,157,158,159]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#Q" name="Q33").Numlocker__Alphabet
    p Q
each i in [161,162,163,164,165,166,167,168,169]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#R" name="R33").Numlocker__Alphabet
    p R
each i in [171,172,173,174,175,176,177,178,179]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")

a(href="#S" name="S33").Numlocker__Alphabet
    p S
each i in [181,182,183,184,185,186,187,188,189]
    if lockers[i].available === true
        a(href="/locker/" + lockers[i]._id).Numlocker__absolute-true
            p= Object.values(lockers[i].lockerNum).join("")
    else
        div.Numlocker__absolute-false 
            p= Object.values(lockers[i].lockerNum).join("")