extends ../base

block content
    div.form
        div.profile__shape2
            div.profile__data
                P= locker.lockerNum 

            div.profile__data
                h1 사물함 비밀번호
                p=locker.lockerPW

            if locker.available
                div.profile__data
                    p 사용자 없음
            else 
                div.profile__data
                    h1 사용자
                    p= locker.owner.userName
                div.profile__data
                    h1 학번
                    p= locker.owner.studentID
                div.profile__data
                    h1 전화번호
                    p= "0" + locker.owner.phoneNumber
                    h1.profile__data--error 사물함 반납 기한
                    p= locker.owner.returnDate.toISOString().substr(0, 10)

    div.form
        span.signup__comment= "오프라인 사물함 비밀번호를 먼저 변경 한 후"
        span.signup__comment= "온라인 사물함 비밀번호를 변경하세요."

    a(href=`/admin/${_id}/dblocker/${locker._id}/changepw`).homeCard__shape
        span.PW__change= locker.lockerNum + " 사물함 비밀번호 변경"
