extends ../base
include ../mixins/questions

block content
    form(method="POST")
        div.profile__shape 
            div.profile__data
                p=loggedInUser.userName
                p A3
            div.profile__data
                h1 학번
                p=loggedInUser.studentID
            div.profile__data
                h1 전화번호
                p="0"+loggedInUser.phoneNumber

    a(href=`/users/${loggedInUser._id}/edit`).homeCard__shape
        span.phoneNum__change  폰 번호 변경

    a(href=`/users/${loggedInUser._id}/changePassword`).homeCard__shape
        span.PW__change  비밀번호 변경