extends ../base
include ../mixins/questions

block content
    form(method="POST")
        div.profile__shape
            div.profile__data
                    p=loggedInUser.userName

            div.profile__data
                h1 학번
                p=loggedInUser.studentID

            div.profile__data
                h1 전화번호
                p="0"+loggedInUser.phoneNumber

            if !user.availableLocker
                div.profile__data
                    h1 배정 사물함
                    p=user.lockers.lockerNum
                div.profile__data
                    h1= user.lockers.lockerNum + " 사물함 비밀번호"
                    p=user.lockers.lockerPW
                div.profile__data
                    h1 사물함 반납 기한
                    p=user.returnDate.toISOString().substr(0, 10)
            else
                div.profile__data
                    h1 배정 사물함
                    p 없음

        div.form
            span.signup__comment= "*사물함 비밀번호 변경 금지"

    if user.availableLocker
        a(href="/locker").homeCard__shape
            span.locker__signup  사물함 신청하기
    else
        a(href=`/locker/${user.lockers._id}/return`).homeCard__shape
            span.locker__return  사물함 반납하기

    a(href=`/users/${loggedInUser._id}/edit`).homeCard__shape
        span.phoneNum__change  전화번호 변경

    a(href=`/users/${loggedInUser._id}/changePassword`).homeCard__shape
        span.PW__change  사용자 비밀번호 변경