extends ../base
include ../mixins/questions

block content
    form(method="POST")
        div.center
            div.profile__data
                label(for="") 이름
                p=loggedInUser.userName
            div.profile__data
                label(for="") 학번
                p=loggedInUser.studentID
            div.profile__data
                label(for="") 폰번호
                p="0"+loggedInUser.phoneNumber

        div.center    
            div.arrow-switch__myProfile
                a(href=`/users/${loggedInUser._id}/edit`) 내 사물함 &rarr;

            div.arrow-switch__myProfile
                a(href=`/users/${loggedInUser._id}/q`) 내 질문 &rarr;

            div.arrow-switch__myProfile
                a(href=`/users/${loggedInUser._id}/edit`) 번호, 비번 변경하기 &rarr;

    div
        each question in user.questions
            +questions(question)